<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<!--<th:block layout:fragment="css">-->
<!--    <style>-->
<!--        .fieldError{-->
<!--            color: #bc9864;-->
<!--            font-style: italic; !important;-->
<!--        }-->
<!--    </style>-->
<!--</th:block>-->
<body>
<div layout:fragment="content">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Case Request</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <div class="wrapper">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 mb-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <!--                                        <div class="dbox w-100 text-center">-->
                                        <!--                                            <div class="icon d-flex align-items-center justify-content-center">-->
                                        <!--                                                <span class="fa fa-map-marker"></span>-->
                                        <!--                                            </div>-->
                                        <!--                                            <div class="text">-->
                                        <!--                                                <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY-->
                                        <!--                                                    10016</p>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                    </div>
                                    <div class="col-md-4">
                                        <div class="dbox w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <a href="/"><span class="fa fa-user-secret"></span></a>
                                            </div>
                                            <div class="text">
                                                <p><span>Detective Anonymous</span>“Don't talk out loud.”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-14">
                                    <div class="contact-wrap">
                                        <h3 style="padding-top: 25%" class="mb-4 text-center">We Will Contact You.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</div>
</body>
</html>